@import url("https://fonts.googleapis.com/css2?family=Wendy+One&display=swap");

body {
  margin: 0;
  font-family: "Wendy One", sans-serif;
}
.root {
  width: 100%;
  height: 100vh;
  position: relative;
}
.canvas {
  top: 0;
  left: 0;
  position: absolute;
}
.vignette {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
nav {
  width: 100%;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 2rem;
  box-sizing: border-box;
  color: white;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.1);
}
nav ul {
  margin: 0;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font-size: 2.4rem;
}
nav i {
  cursor: pointer;
  transition: 0.3s;
}
nav i:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
